.offer {
    background-color: var(--color-grey-light);
    overflow: hidden;
    padding: var(--padding-md) 0;
    text-align: center;

    &--main {
        min-height: 70vh;
        display: flex;
        align-items: center;
    }

    &--without-bg {
        background-color: var(--color-white);
    }

    &__content {
        display: flex;
        grid-template-columns: 60% 60%;
        flex-direction: column;
        gap: var(--gap-md);
        width: 100%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
        order: 1;
    }

    &__headline {
        font-size: var(--fs-lg);
        color: var(--color-blue-main);
        margin-bottom: var(--gap-md);
    }

    &__papagraph {
        font-size: var(--fs-base);
        color: var(--color-regular);
        order: 3;

        @media (max-width: 767px) {
            font-size: var(--fs-sm);
        }
    }

    &__image {
        order: 2;
        margin: var(--gap-md) 0;
        
        .collage {
            display: flex;
            justify-content: center;
            position: relative;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    @media (min-width: 992px) {
        text-align: left;
        padding-top: var(--padding-lg);
        padding-bottom: var(--padding-lg);

        &__content {
            display: grid;
            grid-template-columns: 40% 60%;
            gap: var(--gap-xl);
            height: 100%;
        }

        &__text {
            order: initial;
            justify-content: center;
        }

        &__headline {
            font-size: var(--fs-xl);
            margin-bottom: 40px;
        }

        &__papagraph {
            order: initial;
            display: inline-flex;
            gap: var(--gap-sm);
        }

        &__image {
            order: initial;
            margin: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
    @media (min-width: 1300px) {
        &__content {
            gap: var(--gap-lg);
            grid-template-columns: 40% 60%;
            
        }
    }
}