.collage {
    position: relative;
    display: flex;
    justify-content: flex-end;

    &__bg {
        position: relative;
        width: max-content;
        min-height: 400px;
        min-width: 650px;
    }

    &__background {
        position: relative;
        margin-top: 40px;
        z-index: 1;
    }

    &__computer {
        position: absolute;
        top: 0;
        right: 100px;
        max-width: 100%;
    }

    &__item {
        position: absolute;
        top: var(--top, 0);
        left: var(--left, 0);
        right: var(--right, auto);
        bottom: var(--bottom, auto);
        width: var(--width, auto);
        height: var(--height, auto);
        z-index: var(--z-idx, 0);
    }

    &__shadow {
        position: absolute;
        top: 80%;
        left: 25%;
        z-index: 1;
        max-width: 100%;
    }

    &__comp {
        position: relative;
        z-index: 1;
        max-width: 536px;
    }

    &--mobile {
        display: none !important;
    }

    @media (max-width: 1023px) {
        &--full {
            display: none !important
        }

        &--mobile {
            display: flex !important;

            & .collage__bg {
                transform: translateX(50%);
                left: -50%;
            }

            & .collage__computer {
                right: 50%;
                transform: translateX(50%);
            }


        }
    }

    @media (max-width: 500px) {
        &--mobile {
            & .collage__comp {
                right: 20%;
            }
        }
    }

}