.goods {
    &__content {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-xl);
    }

    &__grid {
        display: grid;
        gap: var(--gap-lg);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &__headline {
        margin-top: 20px;

        &::after {
            width: 100%;
            height: 2px;
        }

        @media (max-width: 1023px) {
            font-size: var(--fs-md);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: var(--padding-lg);
        border-radius: var(--radius-sm);
        border: var(--border-h-md) solid var(--color-grey-light);
    }

    &__meta {
        position: absolute;
        top: 10px;
        right: 15px;
        display: flex;
        gap: 15px;
        z-index: 2;
    }

    &__rating,
    &__reviews {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        transition: all 0.3s ease;
    }

    &__image {
        object-fit: contain;

        width: 100%;
        height: 250px;
    }

    &__text {
        margin-bottom: 10px;
        font-size: var(--fs-sm);
        line-height: var(--lh-md);
    }

    &__price {
        margin-top: var(--padding-md);
        font-weight: 700;
        color: var(--color-orange);
        font-size: var(--fs-md);
        text-align: center;
        padding-top: var(--padding-sm);
        border-top: 1px solid var(--color-grey-light);
        margin-top: auto;
    }
}